.board {
  width: 730px;
  height: 490px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 5px solid rgba(0, 0, 2, 0.63); }

.board__score {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  color: rgba(0, 0, 2, 0.63);
  margin-top: -100px; }

.board__field {
  width: 24px;
  height: 24px; }

.snake {
  background-color: rgba(0, 0, 2, 0.63);
  border: 8px; }

.food {
  background-color: rgba(0, 0, 2, 0.63);
  border-radius: 50%; }

.game-over__screen {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.game-over__box {
  color: #FFFFFF; }

.game-over__heading {
  text-transform: uppercase;
  font-size: 90px;
  margin-bottom: 30px; }

.game-over__msg {
  font-size: 20px;
  margin-bottom: 15px; }

.game-over__button {
  padding: 20px 50px;
  color: inherit;
  font-size: 30px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 35px; }

.game-over__button-angle {
  position: relative; }

.fa-angle-double-right {
  right: 3px;
  -webkit-animation: point-right 0.3s linear infinite alternate;
          animation: point-right 0.3s linear infinite alternate; }

.fa-angle-double-left {
  left: 3px;
  -webkit-animation: point-left 0.3s linear infinite alternate;
          animation: point-left 0.3s linear infinite alternate; }

@-webkit-keyframes point-right {
  0% {
    right: 6px; }
  100% {
    right: 3px; } }

@keyframes point-right {
  0% {
    right: 6px; }
  100% {
    right: 3px; } }

@-webkit-keyframes point-left {
  0% {
    left: 6px; }
  100% {
    left: 3px; } }

@keyframes point-left {
  0% {
    left: 6px; }
  100% {
    left: 3px; } }

.welcome__screen {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.welcome__box {
  color: #FFFFFF; }

.welcome__heading {
  text-transform: uppercase;
  font-size: 90px;
  margin-bottom: 30px; }

.welcome__msg {
  font-size: 20px;
  margin-bottom: 15px; }

.welcome__start-button {
  padding: 20px 50px;
  color: inherit;
  font-size: 30px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 35px; }

.welcome__button-angle {
  position: relative; }

.fa-angle-double-right {
  right: 3px;
  -webkit-animation: point-right 0.3s linear infinite alternate;
          animation: point-right 0.3s linear infinite alternate; }

.fa-angle-double-left {
  left: 3px;
  -webkit-animation: point-left 0.3s linear infinite alternate;
          animation: point-left 0.3s linear infinite alternate; }

@-webkit-keyframes point-right {
  0% {
    right: 6px; }
  100% {
    right: 3px; } }

@keyframes point-right {
  0% {
    right: 6px; }
  100% {
    right: 3px; } }

@-webkit-keyframes point-left {
  0% {
    left: 6px; }
  100% {
    left: 3px; } }

@keyframes point-left {
  0% {
    left: 6px; }
  100% {
    left: 3px; } }

.welcome__counter {
  font-size: 90px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: grow 1s ease-out;
          animation: grow 1s ease-out; }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #A9CA9B;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif; }

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

